* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A
}

.btn-primary {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    padding: 18px 35px;
}


/* Header & Navigation Style */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    color: #181818;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    padding: 50px 0;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}


/* Banner Start */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-subtitle {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #181818;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    margin-bottom: 20px;
    color: #181818;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}


/* Main Section Start */
main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

/* About Section Start */
.about {
    background-color: #FFF8F3;
    padding: 131px 157px;
    border-radius: 10px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #181818;
    margin-bottom: 50px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
    text-align: center;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #474747;
    text-align: center;
}

/* What I Do Section */
.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-decription {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}


/* Resume Section Style */
.resume-content {
    display: flex;
    gap: 30px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

.resume-item {
    margin: 30px 0;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #474747;
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}

.resume .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

.resume-btn {
    margin-top: 50px;
    text-align: center;
}


/* Contact Section Title */
.contact {
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title {
    text-align: left;
}

.contact .section-description {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact input[type="text"], input[type="email"], textarea {
    margin-bottom: 24px;
    border: none;
    width: 100%;
    padding: 18px 30px;
}

.contact input {
    height: 64px;
}

.contact a {
    text-decoration: none;
}